{# templates/product/view.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<p>Vous visualisez le produit avec l'ID : {{ id }}</p>
</body>
</html>
